---
import PagefindSearch from "../search/PagefindSearch.astro";
import SearchIcon from "../../assets/search.svg";
---

<button
  class="btn btn-link text-base-content"
  onclick="modal_search.showModal()"><SearchIcon /></button
>
<dialog id="modal_search" class="modal">
  <div
    class="modal-box flex h-full w-full max-w-full flex-col items-center justify-start overflow-hidden pt-[15vh]"
  >
    <form method="dialog">
      <button class="btn btn-sm btn-ghost absolute top-2 right-2">✕</button>
    </form>
    <h3 class="text-lg font-bold">Enter one or more keywords</h3>
    <PagefindSearch class="w-full" />
    <form method="dialog">
      <!-- if there is a button, it will close the modal -->
      <button class="btn">Close</button>
    </form>
  </div>
</dialog>
