---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="Papa" description="Danilo Macapagal's Papa video page.">
	<!-- Hero section -->
	  	<section aria-label="Papa" class="flex items-center justify-center px-2 md:px-2 md:pt-4" >
			<div class="container max-w-[800px]">
				<h1 class="title mb-6">Papa</h1>
				<video width="800" height="500" controls>
					<source src="/papa/papa.mp4" type="video/mp4">
				</video>
				<br>
				<p>Your memory lives on, strong and bright. You left such an incredible mark on this world and on my life. I promise to carry forward the values you instilled in me and to live a life that would make you proud. You'll never be forgotten, and you will always be loved, today and always. -Denn</p>
			</div>
	  	</section>

	<!-- Background blur -->

</PageLayout>

