---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="Papa" description="Danilo Macapagal's Papa video page.">
	<!-- Hero section -->
	  	<section aria-label="Papa" class="flex items-center justify-center px-2 md:px-2 md:pt-4" >
			<div class="container max-w-[1440px]">
				<h1 class="title mb-6">Papa</h1>
				<video width="800" height="500" controls>
					<source src="/papa/papa.mp4" type="video/mp4">
				</video>
			</div>
	  	</section>

	<!-- Background blur -->

</PageLayout>

