---

import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ProjectsArrowCard from "@components/ProjectsArrowCard.astro";
import Pagination from "@components/Pagination.astro";
import {  PROJECTS, SITE } from "@consts";
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	const project = (await getCollection('projectsES'))
	.filter(post => post.data.status == 'active')
  	.sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()).reverse();
  	
	// Return a paginated collection of paths for all posts
  	return paginate(project, { pageSize: SITE.NUM_PROJECTS_ON_PROECTS });
}

const posts_project_featured = (await getCollection('projectsES'))
.filter(post => post.data.status == 'featured') // Filter out active posts
.sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());

// If set up correctly, The page prop now has everything that
// you need to render a single page (see next section).
type Props = { page: Page<CollectionEntry<'projectsES'>> };

const { page } = Astro.props;
const project = page.data;

---
<PageLayout title={PROJECTS.ES.TITLE ?? ""} description={PROJECTS.ES.DESCRIPTION ?? ""}>
	<Container containerWidth="mx-auto max-w-[1440px] px-5">
	  <div class="space-y-10">
		<div class="animate font-semibold text-black dark:text-white">
		  Projects
		</div>
		<div class="mx-auto max-w-[800px]">
			<div class="grid grid-cols-1 gap-8 sm:grid-cols-2 featured-projects">
			{
				posts_project_featured.map((project) => (
				<div>
					<ProjectsArrowCard entry={project}/>
				</div>
				))
			}
			</div>
		</div>

		<div class="grid grid-cols-2 gap-4 sm:grid-cols-2 lg:grid-cols-4">
			{
				project.map(
					(post) => (					
					<div class="notshow fromtop">
						<ProjectsArrowCard entry={post}/>						
					</div>
					)
				)
			}
		</div>

		<Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />

	  </div>
	</Container>
  </PageLayout>