/* Import tailwindcss and its plugins */
@import "tailwindcss";
/**
 * Typographic plugin for tailwindcss.
 *
 * See https://tailwindcss-typography.vercel.app/
 */
@plugin "@tailwindcss/typography";

/* Import daisyUI and its plugins.
 * daisyUI is a collection of CSS class names a high-level abstraction of Tailwind CSS utility classes.
 *
 * See https://daisyui.com
 */
@plugin "daisyui";

/* Set up daisyUI light themes 
 *
 * See https://daisyui.com/docs/themes 
 */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: light;

  /* border radius */
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
}

/* Set up daisyUI dark themes 
 *
 * See https://daisyui.com/docs/themes
 */
@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: dark;

  /* border radius */
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
}

/* Add your custom CSS styles here.
 *
 * This block is used to define CSS classes or styles that are not yet available in the daisyUI library.
 * You can define your own CSS classes here and then use them in your HTML components.
 */

a svg,
button svg {
  @apply opacity-100;
  a &:hover,
  button &:hover {
    @apply opacity-80;
  }
}

svg {
  @apply h-6;
  @apply w-6;
}

/* CSS transitions to animate elements when they become visible
 *
 * The approach is to apply the styles when the "is-visible" class is added to the element.
 * When the element is visible and the class is added, the transition is triggered.
 *
 * See https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions
 */

.animate-fade-up {
  @apply opacity-0;
  @apply translate-y-8;
  @apply transition-opacity duration-500;
  @apply transition-transform duration-500;
  @apply delay-25;
  @apply will-change-[opacity,transform];
  @apply backface-hidden;
  @apply transform-3d;
  @apply transform-cpu;
}

.animate-fade-up.is-visible {
  @apply opacity-100;
  @apply translate-y-0;
  @apply transition-opacity duration-500;
  @apply transition-transform duration-500;
  @apply delay-25;
  @apply will-change-[opacity,transform];
}

.animate-fade-right {
  @apply opacity-0;
  @apply translate-x-8;
  @apply transition-opacity duration-500;
  @apply transition-transform duration-500;
  @apply delay-25;
  @apply will-change-[opacity,transform];
  @apply backface-hidden;
  @apply transform-3d;
  @apply transform-cpu;
}

.animate-fade-right.is-visible {
  @apply opacity-100;
  @apply translate-x-0;
  @apply transition-opacity duration-500;
  @apply transition-transform duration-500;
  @apply delay-25;
  @apply will-change-[opacity,transform];
}

.animate-fade-left {
  @apply opacity-0;
  @apply -translate-x-8;
  @apply transition-opacity duration-500;
  @apply transition-transform duration-500;
  @apply delay-25;
  @apply will-change-[opacity,transform];
  @apply backface-hidden;
  @apply transform-3d;
  @apply transform-cpu;
}

.animate-fade-left.is-visible {
  @apply opacity-100;
  @apply translate-x-0;
  @apply transition-opacity duration-500;
  @apply transition-transform duration-500;
  @apply delay-25;
  @apply will-change-[opacity,transform];
}

.animate-fade-down {
  @apply opacity-0;
  @apply -translate-y-8;
  @apply transition-opacity duration-500;
  @apply transition-transform duration-500;
  @apply delay-25;
  @apply will-change-[opacity,transform];
  @apply backface-hidden;
  @apply transform-3d;
  @apply transform-cpu;
}

.animate-fade-down.is-visible {
  @apply opacity-100;
  @apply translate-y-0;
  @apply transition-opacity duration-500;
  @apply transition-transform duration-500;
  @apply delay-25;
  @apply will-change-[opacity,transform];
}

/**
 * Pagefind styles
 *
 * These styles are used by the pagefind search bar and must be
 * included in the global stylesheet.
 *
 * @see https://github.com/kriskow-web/pagefind
 */
:root {
  --pagefind-ui-text: color-mix(
    in oklab,
    var(--color-base-content) 70%,
    transparent
  ) !important;
  --pagefind-ui-bg: var(--color-base-100) !important;
}

.pagefind-ui__form::before {
  @apply !top-3.5;
  @apply !mask-[url("/images/search.svg")];
}

.pagefind-ui__search-input {
  width: 100% !important;
  padding-left: 40px !important;
  @apply !input !pl-10;
  /* @apply !w-full; */
  &::placeholder {
    @apply !text-base-content;
  }
    
}

.pagefind-ui__search-clear {
  @apply !btn;
  @apply !top-0;
  @apply !right-0;
  @apply !z-1;
}

.pagefind-ui__result-link {
  @apply !text-base-content;
}

.pagefind-ui__results {
  @apply !overflow-auto;
  @apply !max-h-[60vh];
}
