---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import {  NOTFOUND } from "@consts";
export const prerender = false;
---

<PageLayout title={NOTFOUND.EN.TITLE ?? "Not Found"} description={NOTFOUND.EN.DESCRIPTION ?? "No description available"}>
  <Container containerWidth="mx-auto max-w-[1440px] px-5">

    <div class="space-y-16">
      <div class="animate font-semibold text-black dark:text-white">
        Blog 
      </div>
      <p>No records found...</p>
    </div>
  </Container>
</PageLayout>
