---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import {  NOTFOUND } from "@consts";
export const prerender = false;
---

<PageLayout title={NOTFOUND.TITLE} description={NOTFOUND.DESCRIPTION}>
  <Container containerWidth="mx-auto max-w-1440px] px-5">

    <div class="space-y-16">
      <h1 class="notshow frombottom font-semibold text-black dark:text-white text-center text-xxl">
        <span class="">404</span>
      </h1>
    </div>
  </Container>
</PageLayout>
