---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
---
<Layout title="t2del | Contact Me" meta_description="List of projects i have worked and still working on" body_class="home" image="/favicon.ico">
	<section id="contact-us">			
		<Container className="container-contact">
			<h1 class="notshow fromleft text-center"> <span class="text-gradient">Contact Us</span></h1>

			  <form  name="contact" action="/pages/success"  id="my-form" method="POST" data-netlify="true">
				<label>Your Name:	<input type="text" name="name" /></label> 	
				<label>Email:		<input type="email" name="email" placeholder="Email" /></label> 		
				<label>Message: <textarea name="message" placeholder="Message" /></textarea></label>
				<label><input type="submit" id="my-form-button" value="Submit"></label>
				<label><input type="hidden" name="form-name" value="contact"></label>
			  </form>						
		</Container>
	</section>
</Layout>