---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';

import { getCollection } from 'astro:content';
const project = (await getCollection('project')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---
<Layout title="t2del | Project" meta_description="List of projects i have worked and still working on" body_class="home" image="favicon.ico">
	<section id="portfolio">			
		<Container className="container-portfolio">
			<h1 class="notshow fromleft text-center"> <span class="text-gradient">Projects</span></h1>

			  <form name="contact" method="POST"  id="my-form" data-netlify="true">
				<label>Your Name:</label>
					<input type="text" name="name" />
				<label>Email:</label>
					<input type="email" name="email" placeholder="Email" />
				<label>Message:</label>
					<textarea name="message" placeholder="Message" /></textarea>
				<button id="my-form-button">Submit</button>
				<p id="my-form-status"></p>
			  </form>						
		</Container>
	</section>
</Layout>