---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';

import { getCollection } from 'astro:content';
const project = (await getCollection('project')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---
<Layout title="t2del | Project" meta_description="List of projects i have worked and still working on" body_class="home" image="favicon.ico">
	<section id="portfolio">			
		<Container className="container-portfolio">
			<h1 class="notshow fromleft text-center"> <span class="text-gradient">Projects</span></h1>
			<form name="contact"  id="my-form" netlify>
				<p>
				  <label>Name <input type="text" name="name" /></label>
				</p>
				<p>
				  <label>Email <input type="email" name="email" /></label>
				</p>
				<p>
				  <button type="submit">Send</button>
				</p>
			  </form>						
		</Container>
	</section>
</Layout>