---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
---
<Layout title="t2del | Contact Me" meta_description="List of projects i have worked and still working on" body_class="home" image="/favicon.ico">
	<section id="contact-us">			
		<Container className="container-contact">
			<h1 class="notshow fromleft text-center"> <span class="text-gradient">Contact Us</span></h1>

			  <form  name="contact" id="my-form" method="POST" data-netlify="true">
				<label>Your Name:	<input type="text" name="name" /></label> 	
				<label>Email:		<input type="email" name="email" placeholder="Email" /></label> 		
				<label>Message: 	<input type="text" name="message" /></label>
				<label><input type="submit" id="my-form-button" value="Submit"></label>
				<label><input type="hidden" name="form-name" value="contact"></label>
			  </form>
			  <!-- modify this form HTML and place wherever you want your form -->
			<form
				action="https://formspree.io/f/mvojypdr"
				name="contact-2" id="my-form" method="POST" data-netlify="true"
			>
				<label>Your Name:	<input type="text" name="name" /></label> 	
				<label>Email:		<input type="email" name="email" placeholder="Email" /></label> 		
				<label>Message: 	<input type="text" name="message" /></label>
				<label><input type="submit" id="my-form-button" value="Submit"></label>
				<label><input type="hidden" name="form-name" value="contact-2"></label>
			</form>					
		</Container>
	</section>
</Layout>