---
import NavbarMenuItems from "./navigation/NavbarMenuItems.astro";
import SocialLinks from "./common/SocialLinks.astro";
import Logo from "../assets/denmac.png";
import { config } from "../consts";
---
<footer class="hidden">
  <div class="footer sm:footer-horizontal bg-base-200 text-base-content">
    <nav>
      <h2 class="footer-title ml-3 hidden">Company</h2>
      <aside class="grid-flow-col items-center">
        <a
              href={`${config.base}/`}
              class="btn btn-ghost  text-xl lg:flex"
            >
        <img src={Logo.src} alt="Homepage" class="h4 w-26" />
        </a>

      </aside>
    </nav>
    <nav>
      <h2 class="footer-title ml-3">Menu</h2>
      <ul class="menu">
        <NavbarMenuItems maxLevel={1} />
      </ul>
    </nav>
    <nav>
      <h2 class="footer-title ml-3">Social</h2>
      <div class="grid grid-flow-col gap-4">
        <SocialLinks />
      </div>
    </nav>
  </div>
  <div
    class="footer bg-base-200 text-base-content border-base-300 border-t px-10 py-4"
  >
    <nav class="md:place-self-center md:justify-self-center">
      <p class="text-xs">
        Copyright ©{new Date().getFullYear()} - All right reserved
      </p>
    </nav>
  </div>
</footer>