---
interface Props {
  data: any;
  displayText?: string | null;
  classes: string;
  externalLink: boolean;
}

const { data, displayText, classes = "", externalLink = false } = Astro.props;

let isLink = false;
let href = "";

if (typeof data === "string") {
  if (data.startsWith("http")) {
    isLink = true;
    href = data;
  } else if (data.includes("@")) {
    isLink = true;
    href = `mailto:${data}`;
  } else if (/^\+?[\d\s()-]+$/.test(data)) {
    // Remove non-numeric characters and spaces
    const digitsOnly = data.replace(/\D/g, "");
    if (digitsOnly.length >= 8 && digitsOnly.length <= 15) {
      isLink = true;
      href = `tel:${data.replace(/[^\d+]/g, "")}`;
    }
  }
}
---

{
  isLink ? (
    <a
      href={href}
      class={classes}
      {...(externalLink
        ? { target: "_blank", rel: "noopener noreferrer" }
        : {})}
    >
      {displayText || data}
    </a>
  ) : (
    <>{displayText || data}</>
  )
}
