---
import { config } from "../../consts";
---

<a
  href={`${config.base}/rss.xml`}
  target="_blank"
  rel="noopener"
  aria-label="RSS Feed"
  title="RSS Feed"
  class="inline-flex items-center gap-2 text-orange-500 transition hover:text-orange-600"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="1em"
    height="1em"
    fill="currentColor"
    viewBox="0 0 20 20"
    aria-hidden="true"
    style="vertical-align: bottom;"
  >
    <circle cx="5" cy="18" r="2"></circle>
    <path
      d="M4 13a7 7 0 0 1 7 7h2A9 9 0 0 0 4 9v2zm0-9v2a13 13 0 0 1 13 13h2C19 7.82 12.18 1 4 1z"
    ></path>
  </svg>
</a>
