<!-- modify this form HTML and place wherever you want your form -->
<form
  action="https://formspree.io/f/mvojypdr"
  method="POST"
  id="my-form"
>
<label>Email:</label>
<input type="email" name="email" placeholder="Email" required />
<label>Message:</label>
<input type="text" name="message" placeholder="Message" required />
<button id="my-form-button">Submit</button>
<p id="my-form-status"></p>
</form>